body {
    width: 100%;
    background-color: #D6C2B0;
    margin: 0px auto;
}
.title {
    margin: 50px auto;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
}
h1,
.photo {
    font-weight: 700;
    letter-spacing: 5px;
    color: rgb(26, 23, 23);
    font-size: 50px;    
    line-height: 20px;
}
h2 {
    line-height: 15px;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    color: rgb(26, 23, 23);
}
.container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.container-one {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}
.box-pic {
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
}
.cactus, 
.box-two, 
.box-three {
    width: 320px;
    height: 320px;
    margin: 5px;
    position: relative;
}
.box-two {
    position: absolute;
    bottom: 345px;
    left: -310px;
    background-color: blanchedalmond;
    opacity: .4;
}
.box-three {
    position: absolute;
    top: 0px;
    left: -390px;
    background-color: #5a2838;
    opacity: .8;
    text-align: center;
}
.text-two, 
.text-three, 
.text-four {
   width: 304px;
   background-color: #d89e8b;
   position: absolute;
   left: 15px;
   bottom: 20;
   opacity: 0;
   font-family: 'Niramit', sans-serif;;
   font-size: 20px;
   text-align: center;
   padding: 4px 8px;
   color: white;
   font-family: 'Open Sans Condensed', sans-serif;
   letter-spacing: 4px;
}
.text-two {
    background-color: #e05360;
    font-family: 'Shadows Into Light', cursive;
    width: 260px;
    text-align: center;
    padding: 10px 10px;
    font-size: 30px;
    font-weight: 200;
    bottom: -120px;
}
.text-three {
    font-weight: 700;
    line-height: 20px;
    font-size: 25px;
    padding: 10px 10px;
    margin: 0px;
    width: 240px;
    text-align: end;
}
.add-to-car {
    margin: 10px;
    text-align: center;
    font-size: 50px;
    color: #EEEEEE;
    padding-top: 120px;
    opacity: 1;
}
.text-one {
    position: absolute;
    left: 70px;
    bottom: 0px;
    font-family: 'Pacifico', cursive;
    color: #4673ab;
    font-size: 28px;
    font-weight: 100;
    opacity: 0;
}
.text-four{
    background-color: #f5f2ee;
    color:#5a2838 ;
}
.box-one {
    width: 316px;
    height: 316px;
    margin: 5px;
    background-color: none;
    border: 1.5px solid #4673ab;
    position: absolute;
    bottom: 16px;
    left: 6px;
    opacity: 0;
    background-color:483635 ;
}

.footer {
    padding: 0px 20px;
    background-color: rgb(199, 175, 152);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: 6px 0px 3px rgb(26 31 31);
}

.footer-link-tittle {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;;;
}

.footer-link {
    list-style: none;
    font-size: 30px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
}
li{
    padding-left: 40px;
}

/*-----------------------------------------------------------------------
--------------------------------------------------------------------------
                              TRANSITION BUTTON:HOVER
------------------------------------------------------------------------*/

.img-one:hover figcaption {
    transform: translateY(-280px) ;
    opacity: 1;
    transition: .8s;
}
.img-one:hover {
    opacity: .6;
}
.img-two:hover figcaption  {
    opacity: 1;
    bottom: 40px;
    transition-duration: .6s;
}
.img-two:hover .box-one {
    opacity: 1;
    transform: scale(.9);
    transition-duration: .6s;
} 
.img-two:hover {
    opacity: .7;
}
.img-three:hover .box-two {
    transform: translateX(320px) translateY(325px) rotate(180deg);
    transition-duration: .2s;
    opacity: .7;
}
.img-three:hover figcaption {
    opacity: .9;
    bottom: 35px;
    transition: .2s .3s;
}

.img-four:hover .box-three {
    bottom: 0px;
    left: 10px;
    transition-duration: .3s;
}

.img-four:hover figcaption {
    opacity: 1;
    bottom: 80px;
    transition: .2s .3s;
}
